https://www.kaggle.com/datasets/marshuu/crime-rate-in-spain-2019-2021?resource=download


https://datos.gob.es/es/catalogo?theme_id=educacion&_theme_id_limit=0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from collections import Counter
from fuzzywuzzy import process, fuzz
import pickle

/opt/anaconda3/envs/iron/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# cargamos el csv 
df_crimes= pd.read_csv("data/crime_rate_Spain.csv")
df_crimes.head(5)

,Location,Year,Crime,Total cases
0,Barcelona,2021,Intentional homicides and consummated murders,36
1,Barcelona,2021,Intentional homicides and attempted murders,137
2,Barcelona,2021,Serious and less serious crimes of injuries an...,2161
3,Barcelona,2021,Kidnapping,8
4,Barcelona,2021,Crimes against freedom and sexual indemnity,2406

In [3]:
# Número de filas  y columnas del dataframe
df_crimes.shape

(672, 4)

In [4]:
# Información básica de cada una de las columnas del df
df_crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location     672 non-null    object
 1   Year         672 non-null    int64
 2   Crime        672 non-null    object
 3   Total cases  672 non-null    int64
dtypes: int64(2), object(2)
memory usage: 21.1+ KB

In [5]:
# Contamos el número de filas duplicadas del dataframe
df_crimes.duplicated().sum()

0

In [6]:
# Contamos el número de nulos del dataframe
df_crimes.isnull().sum()

Location       0
Year           0
Crime          0
Total cases    0
dtype: int64

In [7]:
# Principales estadísticos de las columnas numéricas
df_crimes.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,672.0,2020.000000,0.817105,2019.0,2019.00,2020.0,2021.00,2021.0
Total cases,672.0,5786.104167,21325.054204,0.0,39.75,326.5,1779.25,205312.0

In [8]:
# Principales estadísticos de las columnas categóricas
df_crimes.describe(include = "object").T

         count unique                                            top freq
Location   672     16                                      Barcelona   42
Crime      672     14  Intentional homicides and consummated murders   48

In [17]:
# valores unicos de "year", sabiendo los años de los que tomamos los datos
df_crimes["Year"].unique()

array([2021, 2020, 2019])

In [19]:
df_crimes.columns

Index(['Location', 'Year', 'Crime', 'Total cases'], dtype='object')

In [11]:
# valores unicos de "location" lo cual nos indica los lugares del dataframe 
df_crimes["Location"].unique()

array(['Barcelona', 'Madrid', 'Valencia', 'Murcia', 'Seville', 'Zaragoza',
       'Malaga', 'Spain', 'Alicante', 'Cordoba', 'Granada', 'Rioja',
       'Salamanca', 'Segovia', 'Ceuta', 'Melilla'], dtype=object)

In [10]:
#vemos los valores unicos de "crime", lo cual nos dará el tipo de delitos que recoge este dataframe 
df_crimes["Crime"].unique()

array(['Intentional homicides and consummated murders',
       'Intentional homicides and attempted murders',
       'Serious and less serious crimes of injuries and riotous brawl',
       'Kidnapping', 'Crimes against freedom and sexual indemnity',
       'Sexual assault with penetration',
       'Other crimes against freedom and sexual indemnity',
       'Robbery with violence and intimidation',
       'Burglaries with force in homes', 'Robberies with force in homes',
       'Theft', 'Vehicle theft', 'Drug trafficking',
       'Other criminal offenses'], dtype=object)

### Creamos tres dataframes diferentes para comparar los años

In [14]:
df_2019 = df_crimes[df_crimes['Year'] == 2019]
df_2020 = df_crimes[df_crimes['Year'] == 2020]
df_2021 = df_crimes[df_crimes['Year'] == 2022]

In [17]:
df_2019.head(5)

,Location,Year,Crime,Total cases
196,Barcelona,2019,Intentional homicides and consummated murders,45
197,Barcelona,2019,Intentional homicides and attempted murders,142
198,Barcelona,2019,Serious and less serious crimes of injuries an...,2389
199,Barcelona,2019,Kidnapping,2
200,Barcelona,2019,Crimes against freedom and sexual indemnity,2219

In [20]:
df_madrid  = df_crimes[df_crimes['Location'] == 'Madrid']
df_barcelona = df_crimes[df_crimes['Location'] == 'Barcelona']

In [22]:
df_madrid.head(2)

   Location  Year                                          Crime  Total cases
14   Madrid  2021  Intentional homicides and consummated murders           37
15   Madrid  2021    Intentional homicides and attempted murders           94

In [23]:
df_madrid.shape

(42, 4)