In [ ]:
#pip install geopy

In [1]:
from geopy.geocoders import Nominatim

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("df_usa.csv")
df.head(4)

   Unnamed: 0          language           endangerment  latitude  longitude
0         156            Navajo             Vulnerable   35.8044  -108.4750
1         359             Sioux             Vulnerable   43.0588  -102.5244
2         443  O'odham (Akimel)  Definitely endangered   33.0590  -112.0479
3         444  O'odham (Tohono)  Definitely endangered   31.9186  -111.8798

In [4]:
geolocator = Nominatim(user_agent="usa")
location = geolocator.reverse("35.8044, -108.4750")
print(location.address)

Fort Defiance Agency / Tséhootsooí  Bił Hahoodzo biyiʼdi, Apache County, Arizona, United States

In [6]:
geolocator = Nominatim(user_agent="geoapiExercises")

def obtener_estado(row):
    # Obtener la localización completa a partir de las coordenadas
    location = geolocator.reverse(f"{row['latitude']}, {row['longitude']}", exactly_one=True)
    # Obtener el estado a partir de la localización completa
    try:
        state = location.raw['address']['state']
    except (KeyError, TypeError):
        state = None
    return state

# Aplicar la función obtener_estado a cada fila del DataFrame
#df["estado"] = df.apply(obtener_estado, axis=1)

In [7]:
df["state"] = df.apply(obtener_estado, axis=1)

In [8]:
df.head()

,Unnamed: 0,language,endangerment,latitude,longitude,state
0,156,Navajo,Vulnerable,35.8044,-108.4750,Arizona
1,359,Sioux,Vulnerable,43.0588,-102.5244,South Dakota
2,443,O'odham (Akimel),Definitely endangered,33.0590,-112.0479,Arizona
3,444,O'odham (Tohono),Definitely endangered,31.9186,-111.8798,Arizona
4,502,Central Alaskan Yupik (2),Vulnerable,61.4387,-160.4882,Alaska

In [9]:
df["state"].unique()

array(['Arizona', 'South Dakota', 'Alaska', 'Oklahoma', 'Louisiana',
       'Mississippi', 'New Mexico', 'Massachusetts', 'Minnesota',
       'Montana', 'Québec', 'Idaho', 'Utah', 'Wyoming', 'North Carolina',
       'Hawaii', 'Maine', 'Florida', 'Colorado', 'Michigan', None,
       'Kansas', 'Nevada', 'Oregon', 'Nebraska', 'Wisconsin',
       'North Dakota', 'Iowa', 'California', 'New York', 'Washington',
       'South Carolina', 'British Columbia', 'Pennsylvania', 'Maryland',
       'New Hampshire'], dtype=object)

In [8]:
#df.to_csv('df_usa_states.csv', sep=',', index=True)