In [1]:
import pandas as pd

In [2]:
import sys 
sys.path.append("../")
import src.soporte as sp

In [3]:
df= pd.read_csv("../clean_data/df_usa_languages.csv", index_col=0)
df.head(4)

             language           endangerment  speakers  latitude  longitude
156            Navajo             Vulnerable    120000   35.8044  -108.4750
359             Sioux             Vulnerable     25000   43.0588  -102.5244
443  O'odham (Akimel)  Definitely endangered     15000   33.0590  -112.0479
444  O'odham (Tohono)  Definitely endangered     15000   31.9186  -111.8798

In [4]:
df["state"] = df.apply(sp.obtener_estado, axis=1)

In [7]:
df.head(1)

    language endangerment  speakers  latitude  longitude    state
156   Navajo   Vulnerable    120000   35.8044   -108.475  Arizona

In [ ]:
df["state"].unique()

In [ ]:
df= df.drop(df.columns[3:5], axis=1)

In [ ]:
df.info()

In [ ]:
df.shape

In [6]:
#df.to_csv('../clean_data/df_usa_languages_states.csv', sep=',', index=True)