In [1]:
import sqlalchemy as alch
import pandas as pd
from getpass import getpass # sistema seguro para gestión de contraseñas

# MySQL Connection

In [2]:
password = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [3]:
# store the name of our database in a variable
db_name = "endlang_usa"

In [4]:
# create the connection with  MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [5]:
engine = alch.create_engine(conexion)

## Insert data into SQL

In [6]:
# load the data:
languages_usa=pd.read_csv("../data/df_usa_languages_states.csv")
usa_pop=pd.read_csv("../clean_data/df_usa_pop.csv", index_col = 0)

In [7]:
languages_usa.head(1)

   Unnamed: 0 language endangerment  speakers  latitude  longitude    state
0         156   Navajo   Vulnerable    120000   35.8044   -108.475  Arizona

In [8]:
languages_usa= languages_usa.rename(columns={'Unnamed: 0': 'ID'})

#### WE INSERT DATA IN THE  LANGUAGES  TABLE

In [9]:
languages_usa.head(1)

    ID language endangerment  speakers  latitude  longitude    state
0  156   Navajo   Vulnerable    120000   35.8044   -108.475  Arizona

In [ ]:
for index, row in languages_usa.iterrows():
# hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    id_lang_usa= engine.execute(f"""select id_lang_usa from languages_usa WHERE id_lang_usa = "{row['ID']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(id_lang_usa)) > 0: 
        print("this id already exist") 
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
            INSERT INTO languages_usa (id_lang_usa, language_name, endangerment, speakers, latitude, longitude, state) VALUES
            ("{row['ID']}","{row["language"]}", "{row["endangerment"]}", "{row['speakers']}","{row["latitude"]}", "{row["longitude"]}", "{row["state"]}");""")

In [10]:
usa_pop.head(1)

      state     1970     1980     1990     2000     2010     2020
0   Alabama  3444165  3893888  4040587  4447100  4779736  5024279

In [ ]:
for index, row in usa_pop.iterrows():
    engine.execute(f"""INSERT INTO states_population (state_name, 1970, 1980, 1990, 2000, 2010, 2020) VALUES 
    ("{row['state']}","{row["1970"]}","{row["1980"]}","{row['1990']}","{row["2000"]}", "{row["2010"]}", "{row["2020"]}");""")