In [6]:
import sqlalchemy as alch
import pandas as pd
from getpass import getpass # sistema seguro para gestión de contraseñas

In [8]:
languages=pd.read_csv("../clean_data/df_languages.csv", index_col = 0)

In [9]:
languages.head()

,language,countries,endangerment,speakers,latitude,longitude
0,South Italian,Italy,Vulnerable,7500000,40.9798,15.2490
1,Sicilian,Italy,Vulnerable,5000000,37.4399,14.5019
2,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...",Vulnerable,4800000,53.4029,10.3601
3,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",Vulnerable,4000000,53.9560,27.5756
4,Lombard,"Italy, Switzerland",Definitely endangered,3500000,45.7215,9.3273

In [11]:
ethnic_pop=pd.read_csv("../clean_data/df_usa_eth.csv", index_col = 0)
ethnic_pop.head()

           state  1970  1980  1990  2000  2010  2020
0  United States   0.3   0.3   0.2   0.3   0.3   0.2
1        Alabama   0.0   0.0   0.0   0.0   0.0   0.0
2         Alaska   0.0  16.0  15.6  15.6  14.8  15.2
3        Arizona  21.5  14.3   9.9  10.0  11.0   8.8
4       Arkansas   0.0   0.0   0.0   0.0   0.0   0.0

In [3]:
# almacenamos la contraseña en una variable de forma segura, para que nadie la pueda ver. 

password = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [4]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "mydb"

# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [5]:
engine = alch.create_engine(conexion)

In [ ]:
for index, row in languages.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    id_languages = engine.execute(f"""select idlanguages from lamguages WHERE id_languages= "{row['ID']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(id_languages)) > 0: 
        print("lo siento, este id ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
            INSERT INTO languages (id_languages, language_name, country, endangermentraza ,) VALUES
            ("{row['ID']}","{row["GENDER"]}", "{row["RACE"]}", "{row['DRIVING_EXPERIENCE']}","{row["EDUCATION"]}", "{row["MARRIED"]}", "{row["CHILDREN"]}", "{row["INCOME"]}", "{row["POSTAL_CODE"]}");""")