In [1]:
import pandas as pd

In [3]:
import sys 
sys.path.append("../src/soporte.py")
import src.soporte as sp

ModuleNotFoundError: No module named 'src'

In [3]:
df= pd.read_csv("clean_data/df_usa_languages.csv")
df.head(4)

,Unnamed: 0,language,endangerment,speakers,latitude,longitude
0,156,Navajo,Vulnerable,120000.0,35.8044,-108.4750
1,359,Sioux,Vulnerable,25000.0,43.0588,-102.5244
2,443,O'odham (Akimel),Definitely endangered,15000.0,33.0590,-112.0479
3,444,O'odham (Tohono),Definitely endangered,15000.0,31.9186,-111.8798

In [4]:
df["state"] = df.apply(sp.obtener_estado, axis=1)

In [5]:
df.head()

,Unnamed: 0,language,endangerment,speakers,latitude,longitude,state
0,156,Navajo,Vulnerable,120000.0,35.8044,-108.4750,Arizona
1,359,Sioux,Vulnerable,25000.0,43.0588,-102.5244,South Dakota
2,443,O'odham (Akimel),Definitely endangered,15000.0,33.0590,-112.0479,Arizona
3,444,O'odham (Tohono),Definitely endangered,15000.0,31.9186,-111.8798,Arizona
4,502,Central Alaskan Yupik (2),Vulnerable,10400.0,61.4387,-160.4882,Alaska

In [6]:
df["state"].unique()

array(['Arizona', 'South Dakota', 'Alaska', 'Oklahoma', 'Louisiana',
       'Mississippi', 'New Mexico', 'Massachusetts', 'Minnesota',
       'Montana', 'Qu√©bec', 'Idaho', 'Utah', 'Wyoming', 'North Carolina',
       'Hawaii', 'Maine', 'Florida', 'Colorado', 'Michigan', None,
       'Kansas', 'Nevada', 'Oregon', 'Nebraska', 'Wisconsin',
       'North Dakota', 'Iowa', 'California', 'New York', 'Washington',
       'South Carolina', 'British Columbia', 'Pennsylvania', 'Maryland',
       'New Hampshire'], dtype=object)

In [10]:
df["speakers"]

0      120000.0
1       25000.0
2       15000.0
3       15000.0
4       10400.0
         ...
211         0.0
212         0.0
213         0.0
214         0.0
215         0.0
Name: speakers, Length: 216, dtype: float64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    216 non-null    int64
 1   language      216 non-null    object
 2   endangerment  216 non-null    object
 3   speakers      216 non-null    float64
 4   latitude      216 non-null    float64
 5   longitude     216 non-null    float64
 6   state         213 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 11.9+ KB

In [11]:
df_copy=df.copy()

In [7]:
#df.to_csv('clean_data/df_usa_languages_states.csv', sep=',', index=True)