In [2]:
import requests
import re
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

# Historical population by states

In [3]:
url_pop="https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_historical_population"
html_pop= requests.get(url_pop)

In [4]:
html_pop.status_code

200

In [5]:
soup_pop = BeautifulSoup(html_pop.content, "html.parser")

In [6]:
pop = soup_pop.find_all("table")

In [7]:
len(pop)

9

In [8]:
population=pop[3]

In [9]:
len(population.find_all("tr"))

58

In [10]:
len(population.find_all("td"))

456

In [11]:
len(population.find_all("th"))

8

In [12]:
#columnas 
population.find_all("tr")[0]

<tr>
<th>Name
</th>
<th>1960
</th>
<th>1970
</th>
<th>1980
</th>
<th>1990
</th>
<th>2000
</th>
<th>2010
</th>
<th>2020
</th></tr>

In [13]:
population.find_all("tr")[1]

<tr>
<td align="left" height="13"><b><span class="flagicon"><img alt="" class="thumbborder" data-file-height="400" data-file-width="600" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/23px-Flag_of_Alabama.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/35px-Flag_of_Alabama.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/45px-Flag_of_Alabama.svg.png 2x" width="23"/> </span><a href="/wiki/Alabama" title="Alabama">Alabama</a></b>
</td>
<td>3,266,740
</td>
<td>3,444,165
</td>
<td>3,893,888
</td>
<td>4,040,587
</td>
<td>4,447,100
</td>
<td>4,779,736
</td>
<td>5,024,279
</td></tr>

In [14]:
#filas 
population.find_all("td")[0]

<td align="left" height="13"><b><span class="flagicon"><img alt="" class="thumbborder" data-file-height="400" data-file-width="600" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/23px-Flag_of_Alabama.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/35px-Flag_of_Alabama.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/45px-Flag_of_Alabama.svg.png 2x" width="23"/> </span><a href="/wiki/Alabama" title="Alabama">Alabama</a></b>
</td>

In [15]:
population.find_all("td")[1]

<td>3,266,740
</td>

In [16]:
#fila 2 columna 2 
population.find_all("tr")[1].find_all("td")[1]

<td>3,266,740
</td>

In [17]:
# sacamos el texto de ese elemento 
population.find_all("tr")[1].find_all("td")[1].getText()

'3,266,740\n'

In [18]:
# Creamos un diccionario 
dic = {"state": [], 
               "1960": [], 
               "1970":[], 
               "1980": [],
               "1990":[],
               "2000":[],
               "2010":[],
               "2020":[]}

In [19]:
for row in population.find_all("tr")[1:]:
    column = [element for element in row.find_all("td")]
    dic["state"].append(column[0].getText())
    dic["1960"].append(column[1].getText())
    dic["1970"].append(column[2].getText())
    dic["1980"].append(column[3].getText())
    dic["1990"].append(column[4].getText())
    dic["2000"].append(column[5].getText())
    dic["2010"].append(column[6].getText())
    dic["2020"].append(column[7].getText())

In [20]:
df_pop=pd.DataFrame(dic)
df_pop.head()

,state,1960,1970,1980,1990,2000,2010,2020
0,Alabama\n,"3,266,740\n","3,444,165\n","3,893,888\n","4,040,587\n","4,447,100\n","4,779,736\n","5,024,279\n"
1,Alaska\n,"226,167\n","300,382\n","401,851\n","550,043\n","626,932\n","710,231\n","733,391\n"
2,American Samoa\n,"20,051\n","27,159\n","32,297\n","46,773\n","57,291\n","55,519\n","49,710\n"
3,Arizona\n,"1,302,161\n","1,770,900\n","2,718,215\n","3,665,228\n","5,130,632\n","6,392,017\n","7,151,502\n"
4,Arkansas\n,"1,786,272\n","1,923,295\n","2,286,435\n","2,350,725\n","2,673,400\n","2,915,918\n","3,011,524\n"

In [38]:
#df_pop.to_csv('../data/web_scraping/df_population_usa.csv', sep=',', index=True)

# Historical ethnic popolation by state

In [21]:
url_eth="https://en.wikipedia.org/wiki/Historical_racial_and_ethnic_demographics_of_the_United_States"
html_eth= requests.get(url_eth)

In [22]:
html_eth.status_code

200

In [23]:
soup_eth = BeautifulSoup(html_eth.content, "html.parser")

In [24]:
eth = soup_eth.find_all("table")

In [25]:
len(eth)

43

In [26]:
ethnic=eth[-13]

In [27]:
#columnas 
ethnic.find_all("tr")[0]

<tr>
<th>State/Territory</th>
<th>1890</th>
<th>1900</th>
<th>1910</th>
<th>1920</th>
<th>1930</th>
<th>1940</th>
<th>1950</th>
<th>1960</th>
<th>1970</th>
<th>1980</th>
<th>1990</th>
<th>2000<sup class="reference" id="cite_ref-38"><a href="#cite_note-38">[34]</a></sup></th>
<th>2010<sup class="reference" id="cite_ref-39"><a href="#cite_note-39">[35]</a></sup></th>
<th>2020<sup class="reference" id="cite_ref-autogenerated2_34-1"><a href="#cite_note-autogenerated2-34">[30]</a></sup>
</th></tr>

In [28]:
#filas 
ethnic.find_all("td")[0]

<td style="background:#9bddff;">United States
</td>

In [33]:
# Creamos un diccionario 
dic_eth = {"state": [], 
               "1890":[],
               "1900":[],
                "1910":[],
                "1920":[],
               "1930": [], 
               "1940":[], 
               "1950":[],
               "1960": [], 
               "1970":[], 
               "1980": [],
               "1990":[],
               "2000":[],
               "2010":[],
               "2020":[]}

In [34]:
for row in ethnic.find_all("tr")[1:]:
    columns = [element for element in row.find_all("td")]
    dic_eth["state"].append(columns[0].getText())
    dic_eth["1890"].append(columns[1].getText())
    dic_eth["1900"].append(columns[1].getText())
    dic_eth["1910"].append(columns[1].getText())
    dic_eth["1920"].append(columns[1].getText())
    dic_eth["1930"].append(columns[1].getText())
    dic_eth["1940"].append(columns[1].getText())
    dic_eth["1950"].append(columns[1].getText())
    dic_eth["1960"].append(columns[1].getText())
    dic_eth["1970"].append(columns[2].getText())
    dic_eth["1980"].append(columns[3].getText())
    dic_eth["1990"].append(columns[4].getText())
    dic_eth["2000"].append(columns[5].getText())
    dic_eth["2010"].append(columns[6].getText())
    dic_eth["2020"].append(columns[7].getText())

In [35]:
len(dic_eth)

15

In [36]:
df_eth=pd.DataFrame(dic_eth)

In [37]:
df_eth.head()

,state,1890,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010,2020
0,United States\n,0.4%\n,0.4%\n,0.4%\n,0.4%\n,0.4%\n,0.4%\n,0.4%\n,0.4%\n,0.3%\n,0.3%\n,0.2%\n,0.3%\n,0.3%\n,0.2%\n
1,Alabama\n,0.1%\n,0.1%\n,0.1%\n,0.1%\n,0.1%\n,0.1%\n,0.1%\n,0.1%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n
2,Alaska\n,\n,\n,\n,\n,\n,\n,\n,\n,\n,\n,\n,\n,\n,\n
3,Arizona\n,34.0%\n,34.0%\n,34.0%\n,34.0%\n,34.0%\n,34.0%\n,34.0%\n,34.0%\n,21.5%\n,14.3%\n,9.9%\n,10.0%\n,11.0%\n,8.8%\n
4,Arkansas\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n,0.0%\n

In [40]:
#df_eth.to_csv('../data/web_scraping/df_ethpop_usa.csv', sep=',', index=True)

## Vital statistics of racial and ethnic groups

------------------

https://www.cdc.gov/nchs/pressroom/sosmap/fertility_rate/fertility_rates.htm